<div id='box_3'>
<h1>New School</h1>

<div class='row'>
  <div class = 'col-md-2'>
    <p>Guidelines</p>
    <ul>
      <li>Use markdown syntax if necessary to write your content.</li>
      <li>Seperate the sections by
      <li>Include the Sections you specify within the Sections field within the black editor</li>
      <li>It would be easier to use the fullscreen option of the editor</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @page do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter school name" %>
      </div>
      <div class="form-group">
        <%= f.label :sections %>
        <%= f.text_area :sections, class: 'form-control', placeholder: "Enter section names." %>
      </div>
      <p>Powered by: <img src="http://epiceditor.com/docs/images/epiceditor-logo.png" alt="EpicEditor"></p>  
      <div id = 'box_4'>
        <div id="epiceditor">
          <%= f.text_area :body, id: 'edit-area' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Create School info", class: 'btn btn-success', id: 'editor-submit' %>
      </div>
    <% end %>
  </div>
</div>
</div>

<!--<script>
  document.getElementByValue("Create School info").onclick = function () {
  $("#body").value = editor.getElement('editor').body.innerHTML(); // Returns the editor's content
}
</script>-->

<!--<script>
  $('#editor-submit').on('click', function {
  value = $('epiceditor #body').innerHTML();
  body = $('edit-area');
  body.val(value);
}
</script>-->